[Desktop Entry]
Name=integro

X-KDE-PluginInfo-Author=truleo
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=trueleo@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=integro
X-KDE-PluginInfo-Version=1.0
